{% extends "index.html" %}

{% block heading %}{{ post.subject }}{% endblock %}
{% block subheading %}
  A Post From {{ blog.title }}<br>
  {{ post.created |timesince }}<br>
  {% if user and post.created_by.key() ==  user.key() %}
  <small><a href="/blogs/{{ blog.key().id() }}/posts/{{ post.key().id() }}/update">Edit</a> |
    <a data-delete="/blogs/{{ blog.key().id() }}/posts/{{ post.key().id() }}/delete">Delete</a></small><br>
  {% endif %}
  {% set comment_count = comments.count() %}
  <small>{{ comment_count }} Comment{% if comment_count > 1 %}s{% endif %} </small>
{% endblock %}

{% block content %}
<div class="col-lg-12">
  <p>{{ post.content|linebreaks }}</p>
</div>

<div class="col-lg-12" id="comments">
  <form method="post">
    {% if user %}
    <h3>Leave a comment</h3>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <textarea class="form-control" name="content" required></textarea>
    <button class="btn btn-sm btn-default">Submit</button>
    {% else %}
    <p><a href="/login">Login to leave a comment.</a></p>
    {% endif %}
  </form>
</div>

<div class="col-lg-12">
  {% for comment in comments %}
  <div class="comment">
    <p>
      <strong>{{ comment.created_by.name }}</strong>
      <small>commented {{ comment.created | timesince }}</small><br/>
      {{ comment.content | linebreaks }}
    </p>
  </div>
  <hr/>
  {% endfor %}
</div>

<script>
</script>

{% endblock %}
